designs/server/services/faqExplorer.json
[
    {
        "id": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "type": "tab",
        "createdDate": "2021-11-01T15:33:15.115Z",
        "label": "faqExplorer",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "faqExplorer",
        "relativeParentPath": ""
    },
    {
        "id": "sd_l7v0aBED78AfqR9t",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "server",
        "nodeType": "start",
        "name": "seoQuestionSuggestion",
        "path": "seoQuestionSuggestion",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "seoQuestionSuggestion": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [
                        {
                            "in": "body",
                            "name": "keyword",
                            "description": "add a keyword",
                            "required": false
                        }
                    ],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "keyword",
                    "desc": "add a keyword",
                    "type": "body",
                    "required": false,
                    "rowId": "sd_EZniyyI2QODB9zpV",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 45,
        "y": 220,
        "wires": [
            [
                "sd_5MBPbRvj14Ey8js5"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "faqExplorer",
        "functionName": "sd_l7v0aBED78AfqR9t"
    },
    {
        "id": "sd_el00JWMdLwCt5sLt",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "preparedQuestion",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.preparedQuestion",
            "send": "bh.preparedQuestion"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_el00JWMdLwCt5sLt",
        "category": "HTTP",
        "x": 965,
        "y": 220,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_blCO2tVU0C5MQfxs",
        "type": "ServerHttpRequest",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlValue": "",
        "urlMapping": "bh.ssdUrl",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "ssdUrl"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.response",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "response"
        },
        "headers": [],
        "headersObj": {},
        "headerMapping": "bh.userAgent",
        "headerMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "userAgent"
        },
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "authType": "",
        "useAuthTypeMappingObj": {},
        "useAuthTypeMap": {},
        "useAuthType": "",
        "useAuthUsername": "",
        "useAuthUsernameMappingObj": "",
        "useAuthPassword": "",
        "useAuthPasswordMappingObj": "",
        "useAuthToken": "",
        "useAuthTokenMappingObj": "",
        "useQueryString": false,
        "tls": "",
        "followRedirect": true,
        "paytoqs": false,
        "useAuthentication": false,
        "rejectUnauthorized": false,
        "proxy": "",
        "useProxy": false,
        "usetls": false,
        "cookies": [],
        "cookiesMapObj": {},
        "cookiesList": {},
        "switchStates": {
            "cookies": "Map"
        },
        "editableListData": {},
        "timeout": {
            "type": "num",
            "value": ""
        },
        "functionName": "sd_blCO2tVU0C5MQfxs",
        "category": "HTTP",
        "x": 845,
        "y": 340,
        "wires": [
            [
                "sd_r9al7KTtK93ijKhm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XkiHTrInpYVtjcdM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.ssdUrl = `https://www.google.com/complete/search?hl=en&sugexp=msedr&gs_rn=62&gs_ri=hp&cp=1&gs_id=9c&q=a&xhr=t`;\nbh.ssdUrl = `http://${bh.googleDomain}/complete/search?output=json&client=firefox&hl=en-US&q=${bh.encodedKeyword.encodedURL}`;\n\n// encodedKeyword",
        "functionName": "sd_XkiHTrInpYVtjcdM",
        "category": "Function",
        "x": 725,
        "y": 340,
        "wires": [
            [
                "sd_fNEqmjVUCbk8gy5A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_K5SPJOh3dXt9OMLw",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_qRvCWKKLZBnOI9Bg",
            "type": "tab",
            "createdDate": "2021-11-17T19:21:18.164Z",
            "label": "encode_decode_url",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_RkaByDaKfikztWgv",
            "flowName": "encodeURL"
        },
        "inputVariables": [
            {
                "key": "url",
                "map": true,
                "valueType": "bh",
                "value": "currentQKeyword"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh",
                "value": "encodedKeyword",
                "mapVarName": "response",
                "localVar": "bh.encodedKeyword"
            }
        ],
        "callService": "./encode_decode_url",
        "startName": "encodeURL",
        "inputParams": [
            "bh.currentQKeyword"
        ],
        "accept_bh": false,
        "functionName": "sd_K5SPJOh3dXt9OMLw",
        "category": "General",
        "x": 565,
        "y": 320,
        "wires": [
            [
                "sd_HHX1h3RwLA514Zw0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5MBPbRvj14Ey8js5",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.encodedKeyword\n\nbh.questionType = [\n    \"how\",\n    \"where\",\n    \"why\",\n    \"when\",\n    \"what\",\n    \"who\"\n];\n\nbh.startIndex = 0;\n\nbh.preparedQuestion = [];\n\nbh.inserSQLtQuery = `INSERT INTO faq (keyword) VALUES (\"${bh.input.body.keyword}\")`;",
        "functionName": "sd_5MBPbRvj14Ey8js5",
        "category": "Function",
        "x": 145,
        "y": 220,
        "wires": [
            [
                "sd_M0w2MHIDZPgQenF6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_SlvgH0yJnZjjRwfj",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "startIndex",
        "propertyType": "bh",
        "propertyGv": "bh.startIndex",
        "rules": [
            {
                "t": "lt",
                "v": "questionType.length",
                "vt": "bh",
                "gv": "bh.questionType.length"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_SlvgH0yJnZjjRwfj",
        "category": "Function",
        "x": 365,
        "y": 220,
        "wires": [
            [
                "sd_OIZIQmUWVmoe7XIb"
            ],
            [
                "sd_el00JWMdLwCt5sLt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_OIZIQmUWVmoe7XIb",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.currentQKeyword = bh.questionType[bh.startIndex] + ' ' +  bh.input.body.keyword;",
        "functionName": "sd_OIZIQmUWVmoe7XIb",
        "category": "Function",
        "x": 505,
        "y": 120,
        "wires": [
            [
                "sd_K5SPJOh3dXt9OMLw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_r9al7KTtK93ijKhm",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.preparedQuestion.push({\n    keyword: bh.input.body.keyword,\n    questions: bh.response.payload[1],\n    questionType: bh.questionType[bh.startIndex]\n});\nbh.startIndex = bh.startIndex + 1;",
        "functionName": "sd_r9al7KTtK93ijKhm",
        "category": "Function",
        "x": 885,
        "y": 60,
        "wires": [
            [
                "sd_SlvgH0yJnZjjRwfj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fNEqmjVUCbk8gy5A",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_fpEwNEv7m8vBG6cS",
            "type": "tab",
            "createdDate": "2021-11-17T20:58:17.448Z",
            "label": "staticdata",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_Ev4IMCpys87dPWnQ",
            "flowName": "randomAgent"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh",
                "value": "userAgent",
                "mapVarName": "response",
                "localVar": "bh.userAgent"
            }
        ],
        "callService": "./staticdata",
        "startName": "randomAgent",
        "inputParams": [],
        "accept_bh": false,
        "functionName": "sd_fNEqmjVUCbk8gy5A",
        "category": "General",
        "x": 765,
        "y": 60,
        "wires": [
            [
                "sd_blCO2tVU0C5MQfxs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HHX1h3RwLA514Zw0",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_fpEwNEv7m8vBG6cS",
            "type": "tab",
            "createdDate": "2021-11-17T20:58:17.448Z",
            "label": "staticdata",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_8hsmsTc8jtnv53qZ",
            "flowName": "getGoogleDomain"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh",
                "value": "googleDomain",
                "mapVarName": "response",
                "localVar": "bh.googleDomain"
            }
        ],
        "callService": "./staticdata",
        "startName": "getGoogleDomain",
        "inputParams": [],
        "accept_bh": false,
        "functionName": "sd_HHX1h3RwLA514Zw0",
        "category": "General",
        "x": 625,
        "y": 80,
        "wires": [
            [
                "sd_XkiHTrInpYVtjcdM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_M0w2MHIDZPgQenF6",
        "type": "ExecuteSql",
        "z": "SSD_SERVICE_ID_sd_xBegjWCxUMRmUPfc",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_3oeBBHXnj8SVafWm",
        "resultMap": {
            "type": "bh",
            "value": "sqlInsertResponse"
        },
        "multipleQuery": "",
        "singleQuery": {
            "type": "bh",
            "value": "inserSQLtQuery"
        },
        "inputs": 1,
        "outputs": 1,
        "params": [],
        "dbType": "mysql",
        "functionName": "sd_M0w2MHIDZPgQenF6",
        "category": "Storage",
        "x": 245,
        "y": 220,
        "wires": [
            [
                "sd_SlvgH0yJnZjjRwfj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
